# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.webhook.sample.iml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

webhook.sample/bin/
webhook.sample/obj/

webhook.sample.repository/bin/
webhook.sample.repository/obj/

webhook.sample.domain/bin/
webhook.sample.domain/obj/

webhook.sample.application/bin/
webhook.sample.application/obj/

webhook.sample.infrastructure/bin/
webhook.sample.infrastructure/obj/

/.idea/
/webhook.sample.sln.DotSettings.user

*.db
*.db-shm
*.db-wal
